/* Add these styles to your CSS file or component */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  /* admin.css */

/* Style for the Admin component container */
.aboutcenter{
  text-align: center;
  padding: 20px;
}

/* Style for the tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for the authentication form */
input[type="password"] {
  /* width: 70%; */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the authentication form message */
h2 {
  color: red;
}
